<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book application</title>
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <%- include('../../partials/header.ejs') %>
    <h2 class="page-header"><%= book.title %></h2>
    <div class="book-details">
        <div>
            <img class="book-cover" src="<%= book.coverImagePath %>" alt="Book Cover">
            <div class="book-details-btn-grid">
                <a class="btn btn-primary" href="/books/<%= book._id %>/edit">Edit</a>
                <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <a class="btn btn-primary book-details-author-button" href="/authors/<%= book.author._id %>">View Author</a>
            </div>
        </div>
        <div class="book-details-grid">
            <div class="book-details-label">Author:</div>
            <div><%= book.author.name %></div>
            <div class="book-details-label">Publish Date:</div>
            <div><%= book.publishDate.toDateString() %></div>
            <div class="book-details-label">Page Count:</div>
            <div><%= book.pageCount %></div>
            <div class="book-details-label">Description:</div>
            <div><%= book.description %></div>
        </div>
    </div>
</body>
</html>